html, body {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'I hate Comic Sans', sans-serif;
}

body{
  display:grid;
  grid-auto-flow:column;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
}

.page{
  display:grid;
  place-items:center;
  width:100vw;
  height:100vh;
  position: fixed;
  left:100vw;
  transition: all .5s .5s ease-in-out;
}

.show{
  left:0;
  transition: all .5s ease-in-out;
}

.menuitem{
  display:grid;
  place-items:center;
  border: 7px solid #067084;
  cursor: pointer;
}

.menu{
  position: fixed;
  height:12vh;
  background:skyblue;
  width: 100vw;
  bottom:0;
  color:black;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}

.h1{
  position: absolute;
  font-size: larger;
  left: 2vw;
}
.p{
  position: absolute;
  font-size: x-large;
  left:7vw;
  top: 20vh;
  width:60vw;
}
.title{
  position: absolute;
  height: 75vh;
  width: 90vw;
  left:5vw;
  bottom: 18vh;
  background: skyblue;
}

#bg1{
  position: absolute;
  max-width: 100%;
}

#img1{
  position: absolute;
  max-width: 25%;
  top:10%;
  right:3%;
}

#page1{
  background-image: url('https://media.discordapp.net/attachments/426425328982818826/1176821644573028422/image.png?ex=65704390&is=655dce90&hm=094cfc1b270960db6fdbad0a483270ab2032e64f4d38d017dfcfe41702acceb3&=&format=webp&width=872&height=491');
  background-repeat: no-repeat;
  background-size: cover;
}
#page2{
  background-image: url('https://media.discordapp.net/attachments/426425328982818826/1176824586948587551/image.png?ex=6570464d&is=655dd14d&hm=962109d216ee60e04011cd3f883fa0b3dd6124280eddd54bbf6af67ef3e133e0&=&format=webp&width=488&height=491');
  background-repeat: no-repeat;
  background-size: cover;
}
#page3{
  background-image: url('https://media.discordapp.net/attachments/426425328982818826/1176825649571311646/image.png?ex=6570474b&is=655dd24b&hm=ff99227b37d41b4b2bbe197ef902d230f78c81654fa3a2f994cb8e3b6528289b&=&format=webp&width=363&height=438');
  
}
#page4{
  background-image: url('https://media.discordapp.net/attachments/426425328982818826/1176826120205783071/image.png?ex=657047bb&is=655dd2bb&hm=fce35d22665b5237b71c5194124bac41091b98631c9aa5243fbc09d32ba2b27d&=&format=webp&width=397&height=311');
  background-size: auto;
}

canvas {
  display: block;
}